@import url("header.css");
body {
    background-color: hsl(214, 31%, 60%);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
    width:60%;
    height:60%;
}



h1 {
    color:rgb(102, 64, 47);
}

h2 {

    color:rgb(22, 28, 46);
    
}
footer{
    background-color:#191717;
    color:antiquewhite;
}